<html>
   <head>
     <title>
       <%= locals.title %>
     </title>
   </head>
    <body>
      <h1>Playground</h1>
      <ul>
        <% for(let i=0;i<10; i++){ %>
          <li>
            <%=i %>
          </li>

        <%}%>
      </ul>


      <% if (true){ %>
        <h1>Its true!!</h1>
        <%}else{%>
          <p>Its false:</p>
        <%}%>
    </body>


  </html>